body{font-family: 'Open Sans', sans-serif;
font-size:1.2rem;
box-sizing: border-box;
margin: 0%;
text-align: center;
line-height: 200%;
margin-left: 0%;
margin-right: 0%;
}
.contenitore{background-color: black;
    padding-top:25px;
    padding-bottom: 25px;
    
}

#banner{background-image: url(banner.jpg);
    background-size: cover;
    padding-top: 10%;
    padding-bottom: 60px;

}

h1{color: #25a2c3;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 3%;
    font-size: xx-large;
    
}

#bottom{ background-color: #f04c2f;
    font-family: 'Montserrat', sans-serif;
    color: white;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    border: none;
    border-radius: 5px;
    
    
}

h3{ font-family: 'Montserrat', sans-serif;
    color: #25a2c3;
    margin-top: 2%;
    margin-bottom: 0%;
    padding-top: 1%;
    width: 10%;
    
    
    
}
#notebook{-moz-border-radius: 180px;
    -webkit-border-radius: 180px;
    border-radius: 100%;
    width: 40%;
    padding-top: 7%;
    margin-right: 5%;
    margin-left: 7%;
    display: inline;
    float:left;margin: 10px”
    

}
h2{font-family: 'Montserrat', sans-serif;
    color: white;
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: xx-large;

}
#p2{font-style: italic;
    color: white;
    font-size: larger;
    
   

}
#redrectangle{ background-color:#e22d0e ;
    padding-top: 30px;
    margin-top: 20%;
    padding-bottom: 85px;  

}


#testimonianze{ padding-bottom: 5px;
    color: white;
    font-size: larger;
    padding-top: 15px;
}
#ceo{ font-size: smaller;
    color: white;

}

#rectangle2{ margin-top: 15%;
    background-color:#25a2c3;
    padding-top: 7%;
    padding-bottom: 15%;
   
}
#icona{ width: 10%;

}
.last{
    color: white;
}
hr{
    color: white;
    margin-top: 5%;
    width: 35%;
}
#last2{ color: white;
    font-size: medium;
  margin-top: 5%;


}
#pix{text-decoration: underline;

}
#icona{ width: 10%;

}
.last{
    color: #c8e7f0;
}
hr{
    color: white;
    margin-top: 5%;
    width: 50%;
}
#last2{ color: #c8e7f0;
    font-size: medium;
  margin-top: 5%;


}
#pix{text-decoration: underline;

}
#icona{ padding-right: 1%;
    color: white;
   
    display: inline;

}
#last3{color: #c8e7f0;

}
#icona2{
    padding-right: 1%;
    color: white;
   
    display: inline;
}
#logo{ text-align: left;
    padding-right: 90%;
    padding-left: 5%;

}


.bo{border: 0% solid ;
text-align: left;}


.sinistra{padding-top: 13%;

}
.contenitore2{
    width: 100%;
padding-top: 7%;
}
#prima{display:inline-block;
position: relative;
width: 40%;
height: 20%;

}
#secondo{width: 40%;
    height: 20%;
    display: inline;
    margin-left: 0;
}
#terzo{width: 40%;
    height: 20%;
    display: inline;
    padding-top: 5%;
}
.photo{ padding-left: 3%;
    margin-left: 2%;
    width: 40%;
    padding-right: 0;
    margin-right: 0%;
}
.photo2{ margin-left: 0;
    width: 25%;
}