body{ padding: 15px; background-image:url(sfondo.png);
    line-height: 150%;
    
}
#logo{ width:200px;
      height:100px;
    }
.contenitore{font-family: 'Poppins', sans-serif;
    text-align:center;
    }
.rettangolo{ 
background: rgb(20,170,190);
background: linear-gradient(0deg, rgba(20,170,190,1) 0%, rgba(175,222,238,1) 100%);
margin-left: 10px;
font-size: large;
color: white;
font-weight: bold;
box-shadow: 2px 2px 5px #474747;
}
.li{
    margin-bottom: 5px;
    display: block;

}
#li1{ margin-top: 10px;
    display: block;

}
#rettangolo2{
    background-color:whitesmoke;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
    box-shadow: 2px 2px 5px #474747;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 120px;
    padding-bottom:40px ;
 
}
h1 {
font-size: 2em;
margin-left: 10px;
margin-right: 0;
font-weight: bold;
padding-top: 20px;
padding-bottom: 20px;
line-height: 150%;
}
.Mario{color: #adadad;

}
#icona{color: #adadad;margin-left: 5px;
}
.p1{margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right:10px ;
    text-align:left
    
}
.viola{color: purple; 
    font-weight:bold;

}
#p2{  margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right:10px ;
    text-align:left

}
.elenco{ 
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right:10px ;
    text-align:left;
    padding-left: 25px;
}
.code{
    background-color: #d6d5d5;
    border-radius: 5px 5px 5px 5px;
    border-color: #474747;
    
}
#diff{ font-size: large;
font-weight: bold;
font-style: italic;
text-align: center;


}
th {
    background-color: #621fe9;
    border: 1px solid #fff;
    color: rgb(255, 255, 255);
   margin-left: 20px;
    text-align: center;
    padding-top: 30px;
}
table{
    margin-left: 20px;
    margin-right: 20px;
   
}
.gray{background-color: #d6d5d5;
    border: 1px solid #504d4d;

}
tr{ text-align: center;
 
}
#video{  margin-left: 50px;
    margin-right: 50px;
   
    border-radius: 25px 25px 25px 25px;

}
.rettangolo3{ background: rgb(198, 199, 199);
    margin-left: 10px;
    box-shadow: 2px 2px 5px #474747;
 margin-right: 10px;
 padding-left: 35px;
 padding-right: 45px;
}
h2{ font-size: large;
    font-weight: bold;
    font-size: 1.6em;
    padding-top: 20px;
    padding-left: 100px;
    padding-right: 70px;
    padding-bottom: 15px;
}
#email{ padding-top: 20px;

}
#insemail{ height: 20px;
    border-bottom-style: dashed;
    border-color: #621fe9;
    border-top: 0cm;
    border-left: 0cm;
    border-right: 0cm;

}
 button{ background-color: #621fe9;
    color: white;
    border: none;
    height: 20px;

 }
 
 .rettangolo4{ background: rgb(198, 199, 199);
    margin-left: 10px;
    box-shadow: 2px 2px 5px #474747; 
 padding-left: 35px;
 padding-right: 35px;
 padding-bottom: 25px;
 margin-top: 10px;
 margin-right: 10px;

 }
 .a{font-size: large;
    font-weight: bold;
    display: block;

 }

 .date{ padding-bottom: 10px;
  
    margin-left: 5px;
    font-size: small;
   
    
   
}
#icona2{margin-left: 150px;
}
.icohome{ margin-top: 15px;

}
.rettangolo5{
    background: rgb(20,170,190);
background: linear-gradient(0deg, rgba(20,170,190,1) 0%, rgba(175,222,238,1) 100%);
margin-left: 10px;
font-size: large;
color: white;
box-shadow: 2px 2px 5px #474747;
}
#blog{ text-align: center;

}
#last{
    color: purple;
}